.progress-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .progress-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .progress-text {
    font-size: 14px;
    color: #6c8b89;
  }

  .progress {
    background-color: var(--primary-color-100);

    .progress-bar {
      background-color: var(--primary-color-500);
    }
  }
}



