.section-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.section-fullscreen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-top: 1.6rem;
}
