header {
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid var(--primary-color-100);
  padding-bottom: 16px;

  .link {
    gap: 12px;

    .logo {
      width: 36px;
    }

    .title {
      font-size: 2rem;
      font-weight: 600;
      color: white;
    }
  }
}
