<footer class="footer-container">
  <div class="logo-container">
    <img src="assets/logo.png" alt="logo" />
    <h4 class="title">TourXpress</h4>
  </div>
  <div class="">
    <p class="sn-subtitle">Siguenos</p>
    <ul class="social-networks">
      @for (item of socialNetworks; track item.name ) {
        <a
          [href]="item.link"
          target="_blank"
          class="link"
        >
          @switch (item.name) {
            @case ('facebook') {
              <app-facebook-icon />
            }
            @case ('youtube') {
              <app-youtube-icon  />
            }
            @case ('instagram') {
              <app-instagram-icon />
            }
          }
        </a>
      }
    </ul>
  </div>
</footer>
