<footer class="footer-container">
  <div class="logo-container">
    <img src="assets/logo.png" alt="logo" />
    <h4 class="title">TourXpress</h4>
  </div>
  <div class="">
    <p class="sn-subtitle">Siguenos</p>
    <ul class="social-networks">
      @for (item of socialNetworks; track item.link ) {
        <a
          [href]="item.link"
          target="_blank"
          class="link"
        >
          <img [src]="item.icon" [alt]="item.label" />
        </a>
      }
    </ul>
  </div>
</footer>
