<section class="w-100 d-flex justify-content-center">
  <div class="seats-container d-flex flex-column">
    <div class="seat-header">
      <p>Piso 1</p>
      <span>Cama 160°</span>
    </div>
    <div class="d-flex justify-content-between seat-card">
      <section class="seat-card-l">
        @for (seat of seatsFloor1Izq(); track seat.id) {
          @if (seat.availability === 0) {
            <app-seat-selected />
          } @else {
            <app-seat-not-selected [tripPrice]="trip().price" [seat]="seat" />
          }
        }
      </section>
      <section class="seat-card-r">
        @for (seat of seatsFloor1Der(); track seat.id) {
          @if (seat.availability === 0) {
            <app-seat-selected />
          } @else {
            <app-seat-not-selected [tripPrice]="trip().price" [seat]="seat" />
          }
        }
      </section>
    </div>
    <div class="seat-header">
      <p>Piso 2</p>
      <span>Cama 180°</span>
    </div>
    <div class="d-flex justify-content-between seat-card">
      <section class="seat-card-l">
        @for (seat of seatsFloor2Izq(); track seat.id) {
          @if (seat.availability === 0) {
            <app-seat-selected />
          } @else {
            <app-seat-not-selected [tripPrice]="trip().price" [seat]="seat" />
          }
        }
      </section>
      <section class="seat-card-l">
        @for (seat of seatsFloor2Der(); track seat.id) {
          @if (seat.availability === 0) {
            <app-seat-selected />
          } @else {
            <app-seat-not-selected [tripPrice]="trip().price" [seat]="seat" />
          }
        }
      </section>
    </div>
  </div>
</section >
