.card {
  max-width: 260px;
  background-color: var(--primary-color-100);
  border-radius: 1rem;
  border: none;
  padding: 20px 32px;
  gap: 12px;

  .route-data {
    gap: 8px;

    .subtitle {
      text-align: center;
      font-weight: 600;
      color: var(--primary-color-700);
      text-transform: capitalize;
      margin: 0;
    }

    .font-city {
      font-weight: 700;
      font-size: 1.25rem;
      color: var(--primary-color-700);
      text-transform: capitalize;
      margin: 0;
    }

    .arrow-icon {
      color: var(--primary-color-500);
    }

    .date-container {
      gap: 8px;

      .calendar-icon {
        color: var(--primary-color-500);
      }

      p {
        font-size: 0.75rem;
        text-wrap: nowrap;
        text-transform: capitalize;
        margin: 0;
      }
    }
  }

  .break {
    border-color: var(--primary-color-700);
    margin: 0;
  }

  footer {
    gap: 16px;

    .hour {
      font-size: 0.875rem;
      font-weight: 700;
      color: var(--primary-color-700);
      text-wrap: nowrap;
    }

    .ubication-container {
      font-size: 0.875rem;
      line-height: 12px;
      gap: 8px;
    }
  }
}
