<div class="form-container">
  <p class="sub-title">Busca tu próximo destino</p>
  <form
    [formGroup]="form"
    class="form-search"
    (ngSubmit)="onSubmit()"
  >
    <fieldset class="item-form">
      <app-input-select
        label="Ciudad de Origen"
        [control]="form.controls.origin"
        placeholder="Ciudad de origen"
        [cities]="citiesOrigin()"
        [onChange]="getDestinationsCity"
      />
      <app-input-select
        label="Ciudad de Destino"
        [control]="form.controls.destination"
        placeholder="Ciudad de Destino"
        [cities]="citiesDestination()"
      />
    </fieldset>
    <div class="date-container">
      <app-input-date
        [control]="form.controls.startDate"
        label="Fecha de Ida"
        [parentForm]="form"
      />
    </div>
    <div class="btn-container">
      <app-primary-button
        [type]="typeBtn"
      >
        Buscar
      </app-primary-button>
    </div>
  </form>
</div>
